<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% block extrastatic %}
    {% endblock %}

    <title>{% block title %}Document{% endblock %}</title>
</head>

<body>
    {% block header %}
    {% include 'base/header.html' %}
    {% endblock %}

    {% block content %}
    <h4>Este es el contenido del archivo base</h4>
    {%endblock%}

    {% block footer %}
    <h4>Soy el footer de la base</h4>
    {% endblock %}

    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    {% block extrajs%}
    {% endblock %}
</body>

</html>